body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* commom */

.container {
  width: 320px;
  padding: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 15px;
  }
}
/* header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list,
.address {
  display: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0px;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link.current-link {
    position: relative;
    color: #404bbf;
  }

  .navigation-link.current-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus,
  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-link.studio-link {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* MOBILE MENU*/

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.container {
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.mobile-menu-close-btn-icon {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-navigation-list {
  display: flex;
  flex-direction: column;
}
.mobile-menu-nav-item {
}
.mobile-menu-navigation-link {
  display: block;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-navigation-link.mobile-menu-nav-current-link {
  color: #404bbf;
}
.mobile-menu-address {
}
.mobile-menu-contact-list {
  display: block;
  margin-bottom: 48px;
}
.mobile-menu-contact-item {
}
.mobile-menu-contact-link {
  font: 500 20px / 120% 'Roboto', sans-serif;
  display: block;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contact-link.mobile-menu-contact-current-link {
  color: #4d5ae5;
}
.mobile-menu-socnet-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.mobile-menu-socnet-item {
}
.mobile-menu-socnet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.mobile-menu-socnet-icon {
  fill: #f4f4fd;
}

/* MAIN*/

/*FIRS SECTION HERO*/

.frst-section {
  max-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-title-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .frst-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .frst-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-title {
    margin-bottom: 48px;
  }
  .main-title-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-title-button:hover,
  .main-title-button:focus {
    background-color: #404bbf;
  }
}

/* second section*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scnd-section {
  padding-top: 109px;
  padding-bottom: 83px;
}

.advant-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.advant-item-container,
.advant-item-icon {
  display: none;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.advant-item {
  width: 100%;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .scnd-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .advant-list {
    gap: 72px 24px;
  }

  .advant-item-container,
  .advant-item-icon {
    display: none;
  }

  .subtitle {
    text-align: left;
  }

  .advant-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .scnd-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advant-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advant-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .advant-item-icon {
    position: relative;
    display: grid;
  }

  .subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .advant-item {
    width: calc((100% - 72px) / 4);
  }
  .text {
    font-weight: 400;
  }
}
