body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* commom */

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/* header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list,
.address {
  display: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0px;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link.current-link {
    position: relative;
    color: #404bbf;
  }

  .navigation-link.current-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus,
  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-link.studio-link {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* MOBILE MENU*/

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.mobile-menu-close-btn-icon {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-navigation-list {
  display: flex;
  flex-direction: column;
}

.mobile-menu-navigation-link {
  display: block;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-navigation-link.mobile-menu-nav-current-link {
  color: #404bbf;
}

.mobile-menu-contact-list {
  display: block;
  margin-bottom: 48px;
}

.mobile-menu-contact-link {
  font: 500 20px / 120% 'Roboto', sans-serif;
  display: block;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contact-link.mobile-menu-contact-current-link {
  color: #4d5ae5;
}
.mobile-menu-socnet-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mobile-menu-socnet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.mobile-menu-socnet-icon {
  fill: #f4f4fd;
}

/* MAIN*/

/*FIRS SECTION HERO*/

.frst-section {
  max-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero_bgr_mob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-title-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
}
@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .frst-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_bgr_tab.jpg');
  }
}

@media screen and (min-width: 768px) {
  .frst-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_bgr_tab.jpg');
  }
  .main-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .frst-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_bgr_tab.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .frst-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_bgr_desk.jpg');
  }

  .main-title {
    margin-bottom: 48px;
  }
  .main-title-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-title-button:hover,
  .main-title-button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .frst-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_bgr_desk@2x.jpg');
  }
}

/* second section*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scnd-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advant-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.advant-item-container,
.advant-item-icon {
  display: none;
}

.advant-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.advant-item {
  width: 100%;
}
.advant-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advant-list {
    gap: 72px 24px;
  }

  .advant-item-container,
  .advant-item-icon {
    display: none;
  }

  .advant-subtitle {
    text-align: left;
  }

  .advant-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .scnd-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advant-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advant-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .advant-item-icon {
    position: relative;
    display: grid;
  }

  .advant-subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .advant-item {
    width: calc((100% - 72px) / 4);
  }
  .advant-text {
    font-weight: 400;
  }
}

/*THRD SECTION*/
.thrd-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.title-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.title-item {
  width: calc((100% - 72) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-container {
  padding: 32px 0;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}
.title-item .subtitle,
.title-item .text {
  text-align: center;
}
.title-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}
.title-list .title-item {
  background-color: #fff;
}
.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-socnet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}
.team-socnet-link-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .title-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .thrd-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-socnet-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-socnet-link:hover,
  .team-socnet-link:focus {
    background-color: #404bbf;
  }
}
/*qrtr-section*/
.qrtr-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}
.thumb-text-overlay {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .qrtr-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .thumb-text-overlay {
    display: grid;
  }
  .portfolio-thumb {
    position: relative;
    overflow: hidden;
  }

  .thumb-text-overlay {
    position: absolute;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    font: 400 16px / 150% 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .thumb-text-overlay {
    transform: translateY(0);
  }
}

/*FOOTER*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.logo-footer-wrap {
  margin-bottom: 72px;
}
.logo-footer {
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.logo-footer .logo-part {
  color: #f4f4fd;
}
.page-footer .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-media-wrap {
  margin-bottom: 72px;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
}
.social-media-link-icon {
  fill: #f4f4fd;
}
.submit-wrap-text {
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.submit-footer-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    text-align: left;
    padding: 0;
  }
  .footer-conteiner {
    width: 584px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo-footer-wrap {
    margin-right: 24px;
  }

  .social-media-wrap {
    margin-bottom: 104px;
  }
  .social-media-text {
    text-align: left;
  }

  .footer-form-input {
    width: 264px;
  }

  .submit-wrap-text {
    text-align: left;
  }
  .submit-footer-form {
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  } */

  /* .logo-footer .logo-part {
    color: #f4f4fd;
  } */
  /* 
  .page-footer .text {
    color: #f4f4fd;
    max-width: 264px;
  } */

  .footer-conteiner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 1158px;
  }

  .logo-footer-wrap {
    margin-right: 120px;
  }

  /* .social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  } */
  .social-media-list {
    gap: 16px;
  }
  /* .social-media-item {
    width: 40px;
    height: 40px;
  } */
  .social-media-link {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-link:hover,
  .social-media-link:focus {
    background-color: #31d0aa;
  }

  /* .social-media-link-icon {
    fill: #f4f4fd;
  } */

  .submit-wrap {
  }
  .submit-wrap-text {
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: 80px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
  }
  .submit-footer-form {
    display: flex;
    gap: 24px;
    margin-left: 80px;
  }
  .footer-form-label {
  }
  .footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
  }
  .footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
  }

  .footer-form-icon {
    fill: #fff;
    margin-left: 16px;
  }
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 10),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
}
.close-btn-icon {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
}
.modal-text {
  font: 500 16px / 150% 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-container {
  margin-bottom: 8px;
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-form-inp-cont {
  position: relative;
}
.modal-form-inp {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
}
.modal-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
  /* color: rgba(46, 47, 66, 0.4); */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}
.textarea-cont {
  margin-bottom: 16px;
}
.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 7.5px;
}
.label-checkbox {
  cursor: pointer;
  font: 400 12px / 117% 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  fill: transparent;
}
.label-checkbox a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox:checked + .label-checkbox .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-cont-checkbox {
  margin-bottom: 24px;
}
.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
  .custom-checkbox {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1158px) {
  /* .backdrop.is-open {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
  /* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  .close-btn {
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-btn:hover,
  .close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .close-btn:hover .close-btn-icon,
  .close-btn:focus .close-btn-icon {
    fill: #fff;
  }

  .close-btn-icon {
    /* fill: #2e2f42;
    width: 8px;
    height: 8px; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .modal-text {
    font: 500 16px / 150% 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  } */

  /* .modal-container {
    margin-bottom: 8px;
  } */
  /* .modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
  } */
  /* .modal-form-inp-cont {
    position: relative;
  } */
  .modal-form-inp {
    /* border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent; */
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .modal-form-inp:focus {
    border: 1px solid #4d5ae5;
  } */
  .modal-form-icon {
    /* position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-inp:focus + .modal-form-icon {
    fill: #4d5ae5;
  }

  .modal-textarea {
    /* font: 400 12px / 117% 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none; */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .textarea-cont {
    margin-bottom: 16px;
  } */

  .modal-textarea:focus {
    border-color: #4d5ae5;
  }

  .custom-checkbox {
    /* border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 8px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .label-checkbox {
    cursor: pointer;
    font: 400 12px / 117% 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    color: #8e8f99;
    fill: transparent;
  } */
  /* .label-checkbox a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }

  .checkbox:checked + .label-checkbox .custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }

  .modal-form-cont-checkbox {
    margin-bottom: 24px;
  } */

  .modal-btn {
    /* border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover,
  .modal-btn:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
  }
}
